- let effects = collection.series.reduce((acc, series) => acc.concat(series.effects), [])
- let collected = effects.filter(effect => effect.collected)

doctype html
html
  head
    meta(charset="utf-8")
    title geishaboy.tf
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href="/static/geishaboy/img/favicon.png" sizes="32x32")
    link(href="/static/geishaboy/css/style.css" type="text/css" rel="stylesheet")  
  body
    header
      div.background
      h1 I'm a Geisha Boy collector, 
        span.regular buying missing Geishas above market value. 
        span.regular Check my #[a(href="https://backpack.tf/classifieds?steamid=76561198060233163") Buy Orders] or add me on #[a(href="https://steamcommunity.com/id/ptrckr/") steam].
      h2 The collection consists currently of #[span(class="color-unique") 24 Unique], #[span(class="color-genuine") 8 Genuine], #[span(class="color-unusual")= `${collected.length}/${effects.length} Unusual`], #[span(class="color-collectors") 1 Collector's] and #[span(class="color-selfmade") 0 Self-Made] Geishas.

    main  
      each effect in effects
        -
          let href = effect.collected
            ? `https://backpack.tf/item/${effect.item_id}`
            : "https://steamcommunity.com/id/ptrckr"
        a.geisha(href=href class=effect.collected ? "collected" : "missing")
          div.effect-img(class=`id${effect.id}`)
          div.effect-meta
            span.effect-name=effect.name
            ul.effect-info
              if effect.collected
                li.effect-status=`#${effect.item_id}`
              else if effect.price
                li.effect-buying=`~${effect.price} Keys`
              if effect.duped 
                li.effect-duped="Duped"

    footer
      div.geishaboy
      ol.stats
        li.color-unique 24
        li.color-genuine 8
        li.color-unusual= collected.length
        li.color-collectors 1
        li.color-selfmade 0
      span Collectin' since 2015
      span Particle Images by #[a(href="https://backpack.tf/developer/particles") Backpack.TF]
      span #[a(href="https://store.steampowered.com/app/440/Team_Fortress_2") Team Fortress 2] by Valve