- let effects = collection.series.reduce((acc, series) => acc.concat(series.effects), [])
- let collected = effects.filter(effect => effect.collected)

doctype html
html
  head
    meta(charset="utf-8")
    title=`(${collected.length}/${effects.filter(effect => !effect.unknown).length}) geishaboy.tf`
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href="/static/geishaboy/img/favicon.png" sizes="32x32")
    link(href="/static/geishaboy/css/style.css" type="text/css" rel="stylesheet")  
  body
    header
      a(
        href="https://backpack.tf/classifieds?steamid=76561198060233163"
        data-dir="rtl"
        data-text="BUYING GEISHA BOYS  $$$  "
      ).marquee.header

    main  
      each effect in effects
        -
          let href = effect.collected
            ? `https://backpack.tf/item/${effect.item_id}`
            : "https://steamcommunity.com/id/ptrckr"
        a.geisha(href=href class=effect.collected ? "collected" : "missing")
          img.effect-img(src=`/static/geishaboy/img/particles/${effect.id}.png`)
          div.effect-meta
            span.effect-name=effect.name
            ul.effect-info
              if effect.collected
                li.effect-status=effect.item_id
              else if effect.price
                li.effect-status=`Buying for ~${Math.floor(effect.price * collection.key_exchange)}€`
              else if effect.unknown
                li.effect-status="Inexistent"
              if effect.duped 
                li.effect-duped="Duped"

    footer
      div(
        data-dir="rtl"
        data-text="FROG LEAPS INTO POND. LOTUS BLOSSOMS FALL TO EARTH. MEDIC HAS GIRL'S HAIR. "
      ).marquee.footer
      div(
        data-dir="ltr"
        data-text=`PARTICLE IMAGES BY BACKPACK.TF  ©  ${new Date(Date.now()).getFullYear()} PR.LINK  ©  `
      ).marquee.credit

    script(src="/static/geishaboy/js/marquee.js")