- let effects = collection.series.reduce((acc, series) => acc.concat(series.effects), [])
- let collected = effects.filter(effect => effect.collected)

doctype html
html
  head
    meta(charset="utf-8")
    title geishaboy.tf
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href="/static/geishaboy/img/favicon.png" sizes="32x32")
    link(href="/static/geishaboy/css/style.css" type="text/css" rel="stylesheet")  
  body
    header

    div.intro
      a(href="https://backpack.tf/profiles/76561198060233163")
        h1 Geisha Boy Collector
      ul.progress
        li.color-unique
          span(data-quality="Unique" data-collected="24/1")
        li.color-genuine
          span(data-quality="Genuine" data-collected="8/1")
        li.color-unusual
          span(data-quality="Unusual" data-collected=`${collected.length}/${effects.length}`)
        li.color-collectors
          span(data-quality="Collector's" data-collected="1/1")
        li.color-selfmade
          span(data-quality="Self-Made" data-collected="0/1")

    main  
      each effect in effects
        -
          let href = effect.collected
            ? `https://backpack.tf/item/${effect.item_id}`
            : "https://steamcommunity.com/id/ptrckr"
        a.geisha(href=href class=effect.collected ? "collected" : "missing")
          div.effect-img(class=`id${effect.id}`)
          div.effect-meta
            span.effect-name=effect.name
            ul.effect-info
              if effect.collected
                li.effect-status=`#${effect.item_id}`
              else if effect.price
                li.effect-status=`Buying for ~${effect.price} Keys`
              if effect.duped 
                li.effect-duped="Duped"

    footer
      div(
        data-dir="rtl"
        data-text="FROG LEAPS INTO POND. LOTUS BLOSSOMS FALL TO EARTH. MEDIC HAS GIRL'S HAIR. "
      ).marquee.footer
      div(
        data-dir="ltr"
        data-text=`PARTICLE IMAGES BY BACKPACK.TF  ©  ${new Date(Date.now()).getFullYear()} PR.LINK  ©  `
      ).marquee.credit

    script(src="/static/geishaboy/js/marquee.js")